.zoom_gallery{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0b0c0cbf;
    top: 0%;
    z-index: 94;
}

.zoom_gallery__img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10vh;
    width: 85vh;
}

.col-md-3{
    margin-bottom: 5vh;
    /* position: initial !important; */
}

